<ion-header>
  <ion-navbar>
    <ion-title>
      Path App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div *ngIf="isLoggedIn; else loginTemplate">
      <h1>Welcome, {{displayName}}!</h1>
      <p>Email: {{email}}
        <br> Family Name: {{familyName}}
        <br> Given Name: {{givenName}}
        <br> User ID: {{userId}}</p>
      <p>
        <ion-avatar item-left>
          <img src="{{imageUrl}}">
        </ion-avatar>
      </p>
      <p>
        <button ion-button (click)="logout()">Logout of Google</button>
      </p>
    </div>

    <ng-template #loginTemplate>
      <h1>Please login to see your Google Account Information</h1>
      <p>
        <button ion-button (click)="login()">Login With Google</button>
      </p>
    </ng-template>

    <p>
      <button ion-button (click)="getQuote()">Get a quote!</button>
    </p>
<!--
    <h2>Posts</h2>
    <ion-list>
      <ion-item *ngFor="let post of posts">
        <img [src]="post.data.url" />
      </ion-item>
    </ion-list> -->


    <h2>Palindrome API Response Here</h2>
  </ion-card>
</ion-content>
